@import "style/_custom-variables.scss";
@import "style/_custom-mixins.scss";
@import "style/_fonts.scss";

@import "_bootstrap.scss";

a,
a{
	&:hover,
	&:focus{
		text-decoration: none;
	}
	
}

ul, ul li{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

.heading{

	margin:0;
	padding: 0;

	&--primary{
		@include font($font-family-often,16px,$gray-lighter,uppercase);
	}

	&--secondary{
		@include font($font-family-main,16px,$gray-lighter,uppercase);
	}

	&--thirdly{
		@include font($font-family-main,14px,$gray-lighter,none);
	}

	&--fourthly{
		@include font($font-family-rare,33px,$gray-lighter,none);
	}
}

.sidebar{

	&--left{
		position: fixed;
		left:0;
		top:0;
		bottom:0;
		background: $brand-primary;
		overflow-y:auto;
	}

	&__logo{
		background-color: $brand-warning;
		@include padding-custom(30px, 60px, 30px, 60px)
	}

	&--right{
		position: fixed;
		right:0;
		top:0;
		bottom:0;
		background: $brand-primary;
		
		&__heading{
			background: $brand-success;
			@include padding-custom(45px, 68px, 46px, 68px);
			@include font($font-family-often,16px,$gray-lighter,uppercase);
		}
	}


}


.nav{

	
	@include padding-custom(20px, 0, 5px, 0);
	
	&--author{
		
		border-top: 1px solid darken($brand-primary, 20%);
		
	};

	&--source{

		border-top: 1px solid darken($brand-primary, 20%);
		
	};
	
	

	&__icon{
		color: $brand-danger;
		@include margin-horizontal(10px, 20px);
	}
	
	&__link{
		
		transition: all ease-out 0.3s;
		background:transparent;
		display: block;
		@include padding-vertical(15px, 15px);
		@include font($font-family-often,16px,$gray-base,uppercase);
		
		&:hover,
		&:focus{
			color: $brand-danger;
			background: lighten($brand-danger, 35%);
			
		}

		&--playlist{

			@include padding-vertical(10px, 10px);
			display: block;
			
			
			&:hover,
			&:focus{
				.singer__img__icon-holder{
					opacity: 0.99;
				}
				.singer__song,.singer__name{
					color: $brand-success;
				}
				
			}

			
		}
	}

	&--playlist{
		@include padding-custom(15px, 0, 5px, 0);
		max-height:300px;
		overflow-y:auto;
	}
}

.content{
	@include margin-horizontal(224px, 223px);
	@include padding-horizontal(15px, 15px);
	
	&__header{

		@include padding-vertical(10px, 10px);
	}
}

.singer{

	&__img{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		@include background;
		display: inline-block;
		vertical-align: middle;
		@include margin-horizontal(5px, 5px);
		position: relative;
		
		
		&__icon{

			color: $gray-lighter;
			margin-top: 20%;
			
			&-holder{
				transition: all ease-out 0.3s;
				background-color: rgba(145, 195, 209, 0.68); //$brand-success opacity
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    border-radius: 50%;
			    text-align: center;
			    opacity:0;
			    
			}
			
			
		}
	}

	&__info{
		display: inline-block;
		vertical-align: middle;
	}

	&__song{
		transition: all ease-out 0.3s;
		display: block;
		@include font($font-family-seldom,16px,$gray-darker,none);
	}

	&__name{
		transition: all ease-out 0.3s;
		display: block;
		@include font($font-family-seldom,14px,$gray,none);
	}

	&__wave{
		@include background;
		height: 50px;
		width: 60px;
		display: inline-block;
		vertical-align: middle;
		opacity:0;
	}

	&--active{

		.singer__img__icon-holder,.singer__wave{
			opacity: 0.99;
		}

		.singer__song,.singer__name{
			color: $brand-success;
		}


		
	}
}

.btn{

	border:1px solid;
	border-radius: 10px;
	@include padding-custom(10px, 20px, 10px, 20px);
	outline:none;
	
	&--download{
		transition: all ease-out 0.3s;
		background: transparent;
		@include font($font-family-seldom,18px,$brand-warning,none);
		&:hover,
		&:focus{
			background: $brand-warning;
			color: $brand-primary;
		}
	}
}

.download{
	&-holder{
		text-align: center;
		border-top: 1px solid darken($brand-primary, 20%);
		@include padding-vertical(25px, 25px);
	}
}

.slogan{

	&__top{
		@include font($font-family-seldom,33px,$gray-darker,none);
		display: block;
		
	}

	&__bottom{
		@include font($font-family-rare,33px,$brand-success,none);
		display: block;
		
	}
}

.search{

	@include padding-vertical(10px, 10px);
	border:none;
	outline: none;
	background: transparent;
	width: 85%;
	@include font($font-family-main,16px,$brand-primary,none);

	&-holder{

		border: 2px solid $brand-primary;
		border-radius: 15px;
		@include padding-horizontal(10px, 10px);
		@include margin-vertical(7px, 0);
	}

	&__btn{
		@include padding-vertical(10px, 10px);
		width: 12%;
		border:none;
		background: transparent;
		outline: none;
	}

	&__icon{
		color: $brand-danger;
	}
}

.user{
	
	text-align: right;
	
	&__avatar{
		width: 60px;
		height: 60px;
		@include background;
		border-radius:50%;
		display: inline-block;
		vertical-align: middle;
		@include margin-horizontal(15px, 0)
	};

	&__name{
		display: inline-block;
		vertical-align: middle;
		@include font($font-family-often,16px,$brand-primary,uppercase);
	};
}

.best-artist{
	height: 300px;
	width: 900px;
	@include background-best;
	position: relative;

	&__caption{

		&--first{
			position: absolute;
			top: 20px;
		    bottom: 0px;
		    left: 40px;
		    right: 0px;
		};
		
		&--second{
			position: absolute;
			top: 180px;
			bottom: 0px;
			left: 680px;
			right: 0;
		};
		
		&--third{
			position: absolute;
			top: 10px;
		    bottom: 0;
		    left: 590px;
		    right: 0;
		};
	};

	&__carousel{
		@include margin-vertical(33px, 10px);
	}
}

.grid{

	&__item{
		@include padding-vertical(15px, 15px);
	}

	&__link{

		padding-bottom: 100%;
		display: block;
		@include background;
		&:hover,
			&:focus{
				.grid__caption{
					display: block;
				}
			}
	}

	&__caption{
		background: rgba(0, 0, 0, 0.5); //bg transparent
		overflow: auto;
		position: absolute;
	    top: 15px;
	    left: 15px;
	    right: 15px;
	    bottom: 15px; 
	    @include padding-horizontal(10px, 10px);
	    display: none;

		&--top{
			
		}
	}

	&__play-btn{
		display: block;
		color: $gray-lighter;
		text-align: center;
		@include margin-vertical(0, 12px);
	}

	&__like{

		&__item{
			display: inline-block;
		}

		&__link{
			display: block;
			
		}

		&__btns{
			float:left;
			@include margin-vertical(10px, 0);
		}

		&__number{
			float:right;
			@include font($font-family-rare,28px,$brand-danger,uppercase);
		}
	}

	&__heading{
		@include margin-custom(15px, 0, 15px, 0);
	}
}