// FONTS

$font-path:				"../../fonts/";

// FONT FAMILY

$font-family-main:		'ProximaNova-Light';
$font-family-often:		'ProximaNova-Semibold';
$font-family-seldom:	'ProximaNova-Regular';
$font-family-rare:		'LetristaScript';